.contentBox{
  max-width: 666px;
  margin-inline: auto;
}

.contagionCardsContainer{
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}

.contagionCardsContainer .contagionCard{
  text-align: center;    
  padding-inline: 40px;
  padding-block: 50px;
  background: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 100%;  
  position: relative;
  transition: 0.3s ease;
}

.contagionCardsContainer .contagionCard img{
  margin-inline: auto;
  height: 250px;
  transition: 0.3s ease;
}

@media screen and (min-width: 900px){
  .contagionCardsContainer .contagionCard:hover{
    transform: translateY(-10px);
  }
  
  .contagionCardsContainer .contagionCard::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    background: var(--ctaOrange);
    opacity: 0;
    transition: 0.3s ease;
  }
  
  .contagionCardsContainer .contagionCard:hover::after{  
    opacity: 1;
  }
  
  .contagionCardsContainer .contagionCard:hover img{
    transform: scale(1.02) translateY(-5px);
  }  
}

@media screen and (max-width: 900px){
  .contagionCardsContainer{
    flex-direction: column;
    row-gap: 30px;    
    margin-top: 30px;
    padding-inline: 20px;
  }

  .contagionCardsContainer .contagionCard{
    padding: 40px;
  }

  .contagionCard h3{
    font-size: 22px;
    margin-top: 16px;
  }

  .contagionCard p{
    margin-top: 5px;
  }
}